In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter
import requests
import bs4
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("./seoul_food.csv", encoding='cp949')
df = df.drop(columns='Unnamed: 0')

In [3]:
df.head()

      구    동            사업장명  업종        좌표정보(X)        좌표정보(Y)
0   종로구  관철동              상해  분식  198867.702591  451824.281126
1   관악구  신림동              미쿠  일식  193687.348199  442284.164025
2   구로구  구로동      여름엔빙수겨울엔떡국  한식  189814.305919  443046.239859
3   강남구  대치동            카페디퍼  카페  204776.548264  444677.642985
4  동대문구  신설동  메이크데이(MakeDay)  카페  202114.228397  452392.093759

In [4]:
print('자치구 목록:', end= ' ')
for i in list(df['구'].unique()):
    print(i, end=' ')
print()
print('원하시는 자치구를 입력해주세요:')
gu = input()

print('자치동 목록:', end=' ')
for i in list(df[df['구'] == gu]['동'].unique()):
    print(i, end=' ')
print()
print('원하시는 자치동을 입력해주세요:')
dong = input()

print('음식종류 목록:', end=' ')
for i in list(df['업종'].unique()):
    print(i, end=' ')
print()
print('원하시는 음식종류를 입력해주세요:')
food = input()

food_list = df[df['구'] == gu][df['동'] == dong][df['업종'] == food]['사업장명'].tolist()

keyword_list = [gu+' '+dong+' '+i for i in food_list]
#동작구 흑석동 한식

자치구 목록: 종로구 관악구 구로구 강남구 동대문구 은평구 강북구 영등포구 중랑구 서초구 강서구 강동구 성동구 노원구 중구 성북구 도봉구 용산구 광진구 송파구 마포구 금천구 동작구 양천구 서대문구
원하시는 자치구를 입력해주세요:
동작구
자치동 목록: 사당동 상도1동 신대방동 흑석동 상도동 노량진동 대방동
원하시는 자치동을 입력해주세요:
흑석동
음식종류 목록: 분식 일식 한식 카페 양식 치킨 외국음식 중식 고기 해산물 술집 패스트푸드
원하시는 음식종류를 입력해주세요:
한식

In [5]:
keyword_list[3]

'동작구 흑석동 연어이야기'

In [6]:
keyword = keyword_list[3]
url = f'https://map.kakao.com/?q={keyword}'
# itemid = 27315641
url

'https://map.kakao.com/?q=동작구 흑석동 연어이야기'

In [7]:
driver = webdriver.Edge(executable_path='msedgedriver')