In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('./강남구_review_data.csv')

In [15]:
df.head()

,Unnamed: 0,name,score,review,score_test
0,0,명동칼국수샤브샤브 강남대로점,1,설거지좀제대로해주세요칼국수그릇겉에국물마른자국이항상있네요,0
1,1,명동칼국수샤브샤브 강남대로점,4,맛있음구성좋고가격도합리적친절함,1
2,2,명동칼국수샤브샤브 강남대로점,5,가성비좋고죽이맛있어요칼국수는쏘쏘,1
3,3,명동칼국수샤브샤브 강남대로점,5,깔끔존맛이에요,1
4,5,세븐브릭스키친,1,너무불친절해서다시는가고싶지않아요,0

In [16]:
df[df['score_test'] == 'error']

      Unnamed: 0         name  score review score_test
9320       11461  크레이지후라이 역삼점      3      걍      error
9325       11466  크레이지후라이 역삼점      3      걍      error

In [17]:
df = df[df['score_test'] != 'error']

In [18]:
score_list = df['score'].to_list()
np_list = []
for i in score_list:
    if i > 3.5:
        np_list.append(1)
    else:
        np_list.append(0)

In [19]:
df['score'] = np_list

In [21]:
df[df['score'] != df['score_test']]

,Unnamed: 0,name,score,review,score_test
0,0,명동칼국수샤브샤브 강남대로점,0,설거지좀제대로해주세요칼국수그릇겉에국물마른자국이항상있네요,0
1,1,명동칼국수샤브샤브 강남대로점,1,맛있음구성좋고가격도합리적친절함,1
2,2,명동칼국수샤브샤브 강남대로점,1,가성비좋고죽이맛있어요칼국수는쏘쏘,1
3,3,명동칼국수샤브샤브 강남대로점,1,깔끔존맛이에요,1
4,5,세븐브릭스키친,0,너무불친절해서다시는가고싶지않아요,0
...,...,...,...,...,...
21978,27014,류몽민,1,닭좋아하는저희가족완전폭식하고왔어요넘넘맛있어요ㅎㅎㅎ매운거못먹겠다는우리딸도살짝씻겨주니넘...,1
21979,27015,류몽민,1,닭갈비에막국수조합짱이에요ㅜㅜ짱맛있음다음에또올게요가족들다데리고와야겠어용ㅎㅎ,1
21980,27016,류몽민,1,닭갈비에밥볶아먹는거너무좋아요집에서해먹음왜이맛이안나는지ㅠㅠ또찾아올거에요닭은사랑이니까요,1
21981,27018,크랩52,1,와이프가좋아합니다와이프가너무좋아해서자주오고싶은데예약이너무어려움ㅜㅜ,1
21982,27020,원조마포소금구이 강남점,1,집근처주변에맛있는갈매기살맛집이생겼네요사장님포함직원분들도너무친절하시고갈매기살좋아하시는...,1

In [23]:
cnt = 0 
for i in range(df.shape[0]):
    if df['score'][i] != df['score_test'][i]:
        cnt += 1
print(cnt)

KeyError: 9320

In [24]:
print(cnt)

9320